<div class="menu">
  <h2>
    Loan List
  </h2>
  <p>
    <br>
    <button mat-button [matMenuTriggerFor]="home">Home</button>

    <mat-menu #home="matMenu">
      <button mat-menu-item>Search</button>
      <button mat-menu-item [matMenuTriggerFor]="loans">Loans</button>
      <button mat-menu-item [matMenuTriggerFor]="repairs">Repairs</button>
    </mat-menu>

    <mat-menu #loans="matMenu">
      <button mat-menu-item>Home Loans</button>
      <button mat-menu-item>Other Loans</button>
    </mat-menu>

    <mat-menu #repairs="matMenu">
      <button mat-menu-item>Repairs-1</button>
      <button mat-menu-item>Repairs-2</button>
      <button mat-menu-item>Repairs-3</button>
    </mat-menu>
  </p>

  <ul>
    <li *ngFor="let product of products" style="margin-left:20px">
      <a [routerLink]="['/product/', product.id]">{{ product.name }}</a>
    </li>
  </ul>



</div>